<div class="example-container" cdkDropContainerGroup>
  <div>
    <h2>List</h2>
    <div id="all"
         cdkDropList
         [cdkDropListData]="list"
         cdkDropListConnectedTo="grid"
         class="example-list"
         (cdkDropListDropped)="drop($event)">
      <div class="example-box"
           *ngFor="let number of list"
           [cdkDragData]="number"
           cdkDrag>{{number}}</div>
    </div>
  </div>

  <div>
    <h2>Grid</h2>
    <div id="grid"
         cdkDropGrid
         [cdkDropGridData]="grid"
         cdkDropGridConnectedTo="all"
         class="example-grid"
         (cdkDropGridDropped)="drop($event)">
      <ng-container *ngFor="let number of grid">
        <div class="example-grid-box" #griditem
             cdkDrag [cdkDragData]="number">
          <h5>{{number.value}}</h5>
          <span>x:{{griditem.offsetLeft}}</span>
          <span>y:{{griditem.offsetTop}}</span>
          <span>width:{{griditem.clientWidth}}</span>
          <span>height:{{griditem.clientHeight}}</span>
        </div>
      </ng-container>

    </div>
  </div>
</div>
